@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&subset=korean");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900");
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dt {
    font-weight: 400; }
  dl dd {
    font-weight: 400;
    margin-bottom: 0; }

address {
  margin-bottom: 0; }

figure {
  margin: 0; }

label {
  font-weight: 400;
  margin: 0; }

button {
  outline: none !important; }
  button:hover, button:focus {
    box-shadow: none; }

a {
  color: inherit;
  outline: none !important; }
  a:hover, a:focus {
    color: inherit;
    box-shadow: none;
    text-decoration: none; }

.btn {
  padding: 0;
  border: 0;
  border-radius: 0;
  background: none;
  box-shadow: none !important;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }
  .btn:hover {
    opacity: .7; }

.form-group {
  margin: 0; }

.form-control {
  width: 100%;
  height: 58px;
  border-radius: 0;
  box-shadow: none !important;
  background-color: #2c66af; }

.container,
.container-fluid {
  padding-left: 15px;
  padding-right: 15px; }
  .container .row,
  .container-fluid .row {
    margin-left: -15px;
    margin-right: -15px; }
    .container .row .col-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      padding-left: 15px;
      padding-right: 15px; }
    .container .row .col-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      padding-left: 15px;
      padding-right: 15px; }
    .container .row .col-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      padding-left: 15px;
      padding-right: 15px; }
    .container .row .col-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      padding-left: 15px;
      padding-right: 15px; }
    .container .row .col-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      padding-left: 15px;
      padding-right: 15px; }
    .container .row .col-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      padding-left: 15px;
      padding-right: 15px; }
    .container .row .col-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      padding-left: 15px;
      padding-right: 15px; }
    .container .row .col-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      padding-left: 15px;
      padding-right: 15px; }
    .container .row .col-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      padding-left: 15px;
      padding-right: 15px; }
    .container .row .col-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      padding-left: 15px;
      padding-right: 15px; }
    .container .row .col-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      padding-left: 15px;
      padding-right: 15px; }
    .container .row .col-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      padding-left: 15px;
      padding-right: 15px; }

.container {
  max-width: 1200px; }

body {
  min-width: 1200px;
  font-weight: 400;
  font-size: 15px;
  font-family: 'Noto Sans KR', sans-serif;
  padding-top: 148px; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  background-color: #fff; }
  #header .header-top {
    overflow: hidden;
    height: 90px;
    padding-top: 25px; }
    #header .header-top .logo {
      display: inline-block;
      font-size: 0; }
      #header .header-top .logo > a {
        display: block; }
    #header .header-top .quick-link {
      float: right;
      font-size: 0;
      margin-top: 10px; }
      #header .header-top .quick-link > li {
        display: inline-block; }
        #header .header-top .quick-link > li > a {
          font-size: 14px;
          color: #666;
          display: inline-block;
          letter-spacing: -.4px; }
        #header .header-top .quick-link > li:after {
          position: relative;
          top: -2px;
          display: inline-block;
          font-size: 10px;
          color: #03479c;
          content: "\E800";
          margin: 0 10px;
          font-family: "fontello"; }
        #header .header-top .quick-link > li:last-child:after {
          content: "";
          margin: 0; }

#gnb-nav {
  overflow: hidden;
  background-color: #03479c; }
  #gnb-nav .gnb-list {
    float: left;
    width: 80%;
    font-size: 0; }
    #gnb-nav .gnb-list > li {
      position: relative;
      overflow: hidden;
      display: inline-block;
      width: 25%;
      vertical-align: top; }
      #gnb-nav .gnb-list > li > a {
        display: block;
        font-size: 19px;
        font-weight: 400;
        text-align: center;
        color: #fff;
        line-height: 58px;
        letter-spacing: -.4px;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
      #gnb-nav .gnb-list > li:before {
        position: absolute;
        left: 0;
        top: 19px;
        width: 1px;
        height: 20px;
        content: "";
        display: block;
        background-color: #2c66af; }
      #gnb-nav .gnb-list > li > ul {
        position: relative;
        overflow: hidden;
        z-index: 1;
        height: 0;
        font-size: 20px;
        padding-left: 20px;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        border-left: 1px solid #ddd; }
        #gnb-nav .gnb-list > li > ul > li:first-child {
          margin-top: 20px; }
        #gnb-nav .gnb-list > li > ul > li > a {
          font-size: 14px;
          color: #666;
          font-weight: 400;
          line-height: 30px;
          letter-spacing: -.4px;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
          #gnb-nav .gnb-list > li > ul > li > a:hover {
            color: #03479c; }
      #gnb-nav .gnb-list > li.active > a {
        background-color: #2871cc; }
  #gnb-nav .global-search {
    float: left;
    width: 20%;
    height: 58px;
    overflow: hidden; }
    #gnb-nav .global-search .form-group {
      position: relative; }
      #gnb-nav .global-search .form-group .form-control {
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        padding-left: 10px;
        padding-right: 65px;
        border: 1px solid #2c66af;
        background-color: #2c66af; }
      #gnb-nav .global-search .form-group .btn-search {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 13px;
        width: 58px;
        height: 58px;
        color: #fff;
        text-align: center;
        background: none; }
    #gnb-nav .global-search .consult-inquiry {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 0;
      overflow: hidden;
      padding-top: 45px;
      text-align: center;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
      background-color: #f6f6f6; }
      #gnb-nav .global-search .consult-inquiry figure img {
        display: block;
        margin: 0 auto; }
      #gnb-nav .global-search .consult-inquiry figure figcaption {
        margin-top: 25px;
        text-align: center; }
        #gnb-nav .global-search .consult-inquiry figure figcaption dl dt {
          font-size: 20px;
          color: #3d4043;
          font-weight: 400;
          letter-spacing: -.4px; }
        #gnb-nav .global-search .consult-inquiry figure figcaption dl dd strong {
          font-size: 32px;
          color: #00a7ea;
          font-weight: bolder;
          letter-spacing: .1px;
          font-family: 'Montserrat', sans-serif; }
  #gnb-nav:after {
    position: fixed;
    top: 148px;
    left: 0;
    content: "";
    width: 100%;
    height: 0;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    background-color: #fff; }

.opened #gnb-nav:after {
  height: 235px;
  border-top: 1px solid #ddd; }
.opened #gnb-nav ul > li > ul {
  height: 235px; }
.opened #gnb-nav .global-search {
  overflow: visible; }
  .opened #gnb-nav .global-search .consult-inquiry {
    height: 235px; }

#footer {
  background-color: #373c44;
  padding: 30px 0 45px; }
  #footer .terms ul {
    overflow: hidden; }
    #footer .terms ul > li {
      float: left;
      margin-right: 30px; }
      #footer .terms ul > li > a {
        display: block;
        font-size: 14px;
        color: #8d8f92;
        font-weight: 400;
        letter-spacing: -.4px; }
      #footer .terms ul > li:first-child > a {
        color: #fff; }
      #footer .terms ul > li:last-child {
        margin-right: 0; }
  #footer hr {
    display: block;
    border-top: 1px solid #585c63;
    margin: 30px 0 45px; }
  #footer .information {
    overflow: hidden; }
    #footer .information .logo {
      float: left;
      width: 180px;
      font-size: 0;
      margin-top: 25px; }
      #footer .information .logo img {
        display: block; }
    #footer .information .details {
      float: left;
      width: 990px; }
      #footer .information .details > ul {
        overflow: hidden; }
        #footer .information .details > ul > li {
          float: left;
          font-size: 14px;
          color: #8d8f92;
          line-height: 24px;
          letter-spacing: -.4px;
          margin-right: 20px; }
          #footer .information .details > ul > li:nth-of-type(3) {
            margin-right: 0; }
          #footer .information .details > ul > li:nth-of-type(4) {
            clear: left; }
      #footer .information .details .copyright {
        font-size: 14px;
        color: #707377;
        margin-top: 25px; }

/*# sourceMappingURL=default.css.map */
