@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&subset=korean");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dt {
    font-weight: 400; }
  dl dd {
    font-weight: 400;
    margin-bottom: 0; }

address {
  margin-bottom: 0; }

figure {
  margin: 0; }

label {
  font-weight: 400;
  margin: 0; }

button {
  outline: none !important; }
  button:hover, button:focus {
    box-shadow: none; }

a {
  color: inherit;
  outline: none !important; }
  a:hover, a:focus {
    color: inherit;
    box-shadow: none;
    text-decoration: none; }

.btn {
  padding: 0;
  border: 0;
  border-radius: 0;
  background: none;
  box-shadow: none !important;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }
  .btn:hover {
    opacity: .7; }

.form-group {
  margin: 0; }

.form-control {
  width: 100%;
  height: 58px;
  border-radius: 0;
  box-shadow: none !important;
  background-color: #2c66af; }

.container,
.container-fluid {
  padding-left: 15px;
  padding-right: 15px; }
  .container .row,
  .container-fluid .row {
    margin-left: -15px;
    margin-right: -15px; }
    .container .row .col-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      padding-left: 15px;
      padding-right: 15px; }
    .container .row .col-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      padding-left: 15px;
      padding-right: 15px; }
    .container .row .col-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      padding-left: 15px;
      padding-right: 15px; }
    .container .row .col-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      padding-left: 15px;
      padding-right: 15px; }
    .container .row .col-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      padding-left: 15px;
      padding-right: 15px; }
    .container .row .col-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      padding-left: 15px;
      padding-right: 15px; }
    .container .row .col-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      padding-left: 15px;
      padding-right: 15px; }
    .container .row .col-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      padding-left: 15px;
      padding-right: 15px; }
    .container .row .col-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      padding-left: 15px;
      padding-right: 15px; }
    .container .row .col-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      padding-left: 15px;
      padding-right: 15px; }
    .container .row .col-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      padding-left: 15px;
      padding-right: 15px; }
    .container .row .col-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      padding-left: 15px;
      padding-right: 15px; }

.container {
  max-width: 1200px; }

.jumbotron {
  padding: 0;
  margin: 0;
  border-radius: 0;
  box-shadow: none !important;
  background: none; }
  .jumbotron > ul {
    position: relative;
    overflow: hidden; }
    .jumbotron > ul .slick-slide {
      outline: none !important;
      width: 100%;
      height: 600px;
      text-align: center;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover; }
      .jumbotron > ul .slick-slide .slide-content {
        display: table;
        width: 100%;
        height: 600px; }
        .jumbotron > ul .slick-slide .slide-content .slogan {
          display: table-cell;
          vertical-align: middle;
          text-align: center; }
          .jumbotron > ul .slick-slide .slide-content .slogan small {
            display: inline-block;
            position: relative;
            font-size: 28px;
            color: #333;
            font-weight: 300;
            letter-spacing: -.4px; }
            .jumbotron > ul .slick-slide .slide-content .slogan small:after {
              position: relative;
              top: -5px;
              content: "";
              display: block;
              width: 100%;
              border-bottom: 1px solid #8f8f8e; }
          .jumbotron > ul .slick-slide .slide-content .slogan h3 {
            font-size: 40px;
            line-height: 48px;
            font-weight: 300;
            margin-top: 15px;
            letter-spacing: -.4px; }
            .jumbotron > ul .slick-slide .slide-content .slogan h3 b {
              font-weight: 700; }
              .jumbotron > ul .slick-slide .slide-content .slogan h3 b.blue {
                color: #00adec; }
          .jumbotron > ul .slick-slide .slide-content .slogan figure {
            margin-top: 35px; }
            .jumbotron > ul .slick-slide .slide-content .slogan figure .img-fluid {
              display: block;
              margin: 0 auto; }
      .jumbotron > ul .slick-slide.first {
        background-image: url(/comm/images/main/bg_slider01.jpg); }
      .jumbotron > ul .slick-slide.second {
        background-image: url(/comm/images/main/bg_slider01.jpg); }
      .jumbotron > ul .slick-slide.third {
        background-image: url(/comm/images/main/bg_slider01.jpg); }
    .jumbotron > ul .slick-arrow {
      position: absolute;
      top: 50%;
      margin-top: -27px;
      width: 54px;
      height: 54px;
      padding: 0;
      z-index: 1;
      line-height: 54px;
      color: #3c3f44;
      font-size: 15px;
      text-align: center;
      opacity: 1 !important;
      border: 1px solid #3c3f44;
      border-radius: 50%;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
      .jumbotron > ul .slick-arrow:hover {
        color: #000;
        border-color: #000; }
      .jumbotron > ul .slick-arrow.btn-prev {
        left: 50%;
        margin-left: -670px; }
        .jumbotron > ul .slick-arrow.btn-prev i {
          position: relative;
          left: -2px; }
      .jumbotron > ul .slick-arrow.btn-next {
        right: 50%;
        margin-right: -670px; }
        .jumbotron > ul .slick-arrow.btn-next i {
          position: relative; }

section {
  padding: 70px 0;
  overflow: hidden; }
  section .section-header {
    float: left;
    width: 220px; }
    section .section-header h4 {
      font-size: 33px;
      color: #333;
      font-weight: bold;
      line-height: 40px;
      letter-spacing: -1px; }
      section .section-header h4.white {
        color: #fff; }
  section .section-content {
    float: left;
    width: 950px; }

.product {
  background-image: url(/comm/images/main/bg_product.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover; }
  .product .section-content > ul {
    display: table;
    width: 100%;
    table-layout: fixed; }
    .product .section-content > ul > li {
      display: table-cell;
      width: 1%;
      border-right: 1px dotted #6283a1; }
      .product .section-content > ul > li > a {
        display: block;
        text-align: center;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
        .product .section-content > ul > li > a .bg-icon {
          height: 140px;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
        .product .section-content > ul > li > a p {
          font-size: 18px;
          color: #d3e7fa;
          font-weight: 500;
          letter-spacing: -.4px;
          padding-bottom: 30px; }
        .product .section-content > ul > li > a:hover {
          background-color: #00baff; }
          .product .section-content > ul > li > a:hover .bg-icon {
            background-position: 50% 35px; }
          .product .section-content > ul > li > a:hover p {
            color: #fff; }
      .product .section-content > ul > li:last-child {
        border-right: 0; }
      .product .section-content > ul > li:nth-of-type(1) > a .bg-icon {
        background-image: url(/comm/images/main/bg_product_icon01.png); }
      .product .section-content > ul > li:nth-of-type(1) > a:hover .bg-icon {
        background-image: url(/comm/images/main/bg_product_icon01_on.png); }
      .product .section-content > ul > li:nth-of-type(2) > a .bg-icon {
        background-image: url(/comm/images/main/bg_product_icon02.png); }
      .product .section-content > ul > li:nth-of-type(2) > a:hover .bg-icon {
        background-image: url(/comm/images/main/bg_product_icon02_on.png); }
      .product .section-content > ul > li:nth-of-type(3) > a .bg-icon {
        background-image: url(/comm/images/main/bg_product_icon03.png); }
      .product .section-content > ul > li:nth-of-type(3) > a:hover .bg-icon {
        background-image: url(/comm/images/main/bg_product_icon03_on.png); }
      .product .section-content > ul > li:nth-of-type(4) > a .bg-icon {
        background-image: url(/comm/images/main/bg_product_icon04.png); }
      .product .section-content > ul > li:nth-of-type(4) > a:hover .bg-icon {
        background-image: url(/comm/images/main/bg_product_icon04_on.png); }
      .product .section-content > ul > li:nth-of-type(5) > a .bg-icon {
        background-image: url(/comm/images/main/bg_product_icon05.png); }
      .product .section-content > ul > li:nth-of-type(5) > a:hover .bg-icon {
        background-image: url(/comm/images/main/bg_product_icon05_on.png); }
      .product .section-content > ul > li:nth-of-type(6) > a .bg-icon {
        background-image: url(/comm/images/main/bg_product_icon06.png); }
      .product .section-content > ul > li:nth-of-type(6) > a:hover .bg-icon {
        background-image: url(/comm/images/main/bg_product_icon06_on.png); }

.business {
  background-color: #f6f6f6; }
  .business .section-content > ul {
    overflow: hidden; }
    .business .section-content > ul > li {
      float: left;
      margin-right: 35px; }
      .business .section-content > ul > li > a {
        width: 293px;
        display: block; }
        .business .section-content > ul > li > a .details {
          height: 142px;
          padding: 25px 15px;
          background-color: #fff;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
          .business .section-content > ul > li > a .details h5 {
            font-size: 18px;
            color: #333;
            letter-spacing: -.4px;
            font-weight: 500;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s; }
          .business .section-content > ul > li > a .details p {
            font-size: 14px;
            color: #666;
            line-height: 20px;
            margin-top: 10px;
            letter-spacing: -.5px;
            font-weight: 400;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s; }
        .business .section-content > ul > li > a:hover .details {
          background-color: #03479c; }
          .business .section-content > ul > li > a:hover .details h5 {
            color: #fff; }
          .business .section-content > ul > li > a:hover .details p {
            color: #8aadca; }
      .business .section-content > ul > li:last-child {
        margin-right: 0; }

.counseling .section-content {
  overflow: hidden; }
  .counseling .section-content > article {
    float: left;
    width: 293px;
    margin-right: 35px; }
    .counseling .section-content > article:last-child {
      margin-right: 0; }
    .counseling .section-content > article.contact {
      padding: 24px 15px 15px;
      background-image: url(/comm/images/main/bg_contact.jpg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain; }
      .counseling .section-content > article.contact small {
        font-size: 18px;
        color: #363739;
        font-weight: 400;
        display: block;
        letter-spacing: -.4px; }
      .counseling .section-content > article.contact strong {
        font-size: 38px;
        color: #0040a1;
        font-weight: bolder;
        display: block;
        line-height: 38px;
        letter-spacing: .2px;
        font-family: 'Montserrat', sans-serif;
        margin-top: 10px; }
      .counseling .section-content > article.contact > ul {
        margin-top: 15px;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 20px; }
        .counseling .section-content > article.contact > ul > li {
          display: block; }
          .counseling .section-content > article.contact > ul > li > dl {
            overflow: hidden; }
            .counseling .section-content > article.contact > ul > li > dl > dt {
              font-size: 14px;
              color: #666;
              font-weight: 400;
              letter-spacing: -.4px;
              line-height: 27px;
              float: left;
              clear: both;
              width: 98px; }
            .counseling .section-content > article.contact > ul > li > dl > dd {
              display: inline-block;
              font-size: 16px;
              color: #263135;
              font-weight: bold;
              line-height: 27px;
              font-family: 'Montserrat', sans-serif; }
    .counseling .section-content > article.news > ul > li {
      display: block; }
      .counseling .section-content > article.news > ul > li > a {
        display: block;
        width: 100%;
        height: 147px;
        padding: 0 15px 20px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: contain; }
        .counseling .section-content > article.news > ul > li > a h5 {
          font-size: 18px;
          color: #373839;
          font-weight: 500;
          margin-bottom: 10px; }
        .counseling .section-content > article.news > ul > li > a p {
          word-break: keep-all;
          font-size: 14p;
          color: #666;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: -1px; }
      .counseling .section-content > article.news > ul > li.subscribe {
        margin-bottom: 10px; }
        .counseling .section-content > article.news > ul > li.subscribe > a {
          padding-top: 55px;
          background-image: url(/comm/images/main/bg_subscribe.jpg); }
      .counseling .section-content > article.news > ul > li.notice > a {
        padding-top: 35px;
        padding-right: 90px;
        background-image: url(/comm/images/main/bg_notice.jpg); }

/*# sourceMappingURL=main.css.map */
