@import 'common';

.page-header {
    background-image: url(/comm/images/product/bg_page_header.jpg);
}

.page-summary {
    .msr {
        @include msr();
    }
    .page-title {
        font-size: 52px;
        color: #333;
        font-weight: bolder;
        span {
            color: #01adeb;
        }
    }
    .summarize {
        font-size: 24px;
        color: #515356;
        line-height: 30px;
        font-weight: 300;
        letter-spacing: -.5px;
        margin-top: 10px;
        b {
            font-weight: 400;
        }
    }
    hr {
        display: block;
        width: 100%;
        margin: 25px 0 30px;
        border-top: 1px dashed #bcbcbc;
    }
    .dashed-list {
        li {
            font-size: 17px;
            letter-spacing: -1px;
            line-height: 24px;
            padding-left: 15px;
            b {
                font-weight: 500;
                color: #191d1b;
            }
            & ~ li {
                margin-top: 20px;
            }
        }
    }
}

.program {
    .article-header {
        .page-summary {
            padding-top: 20px;
            margin-left: -10px;
            .circle-list {
                margin-top: 25px;
                overflow: hidden;
                > li {
                    width: 104px;
                    height: 104px;
                    float: left;
                    color: #fff;
                    text-align: center;
                    margin-right: 4px;
                    padding-top: 19px;
                    border-radius: 50%;
                    background-color: #79cdfe;
                    &:nth-of-type(even) {
                        background-color: #54a2f3;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                    figure {
                        .img-fluid {
                            display: block;
                            margin: 0 auto;
                        }
                        figcaption {
                            font-size: 13px;
                            line-height: 16px;
                            font-weight: 400;
                            letter-spacing: -.5px;
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
    }
    .article-content {
        .block-diagram {
            .details {
                text-align: center;
                padding: 10px;
                padding-top: 30px;
                background-color: #ededed;
                h5 {
                    font-size: 36px;
                    font-weight: bolder;
                    color: #333;
                    margin-bottom: 20px;
                    @include msr();
                    span {
                        color: #01adeb;
                    }
                }
                .box {
                    padding: 10px;
                    padding-top: 20px;
                    background: #fff;
                    & ~ .box {
                        padding-bottom: 20px;
                        margin-top: 10px;
                    }
                    h6 {
                        font-size: 20px;
                        color: #191d1b;
                        font-weight: 500;
                        letter-spacing: -.5px;
                        margin-bottom: 15px;
                    }
                    .management-list {
                        > ul {
                            > li {
                                width: 216px;
                                > dl {
                                    > dt {

                                    }
                                    > dd {
                                        height: 270px;
                                        > ul {
                                            > li {
                                                i {
                                                    font-style: normal;
                                                    font-weight: 400;
                                                    color: #002060;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .service {
                        overflow: hidden;
                        > li {
                            font-size: 18px;
                            color: #fff;
                            font-weight: 400;
                            line-height: 60px;
                            text-align: center;
                            float: left;
                            width: 555px;
                            margin-right: 10px;
                            background-color: #4da7ef;
                            &:last-child {
                                margin-right: 0;
                                background-color: #0070c0;
                            }
                        }
                    }
                }
            }
            .note {
                font-size: 18px;
                color: #666;
                font-weight: 400;
                text-align: center;
                line-height: 27px;
                letter-spacing: -.5px;
                margin-top: 30px;
                span {
                    color: #01adeb;
                }
            }    
        }
        .main-function {
            .details {
                padding: 40px 450px 40px 30px;
                background-color: #eff3f5;
                background-image: url(/comm/images/product/bg_main_function.jpg);
                background-position: 100% 0;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
        .use-method {
            .details {
                padding: 10px;
                background-color: #ededed;
                .img-box {
                    display: table;
                    width: 100%;
                    padding: 30px 0;
                    background-color: #fff;
                    & ~ .img-box {
                        margin-top: 10px;
                    }
                    figure {
                        display: table-cell;
                        width: 500px;
                        vertical-align: middle;
                        img {
                            display: block;
                            margin: 0 auto;
                        }
                    }
                    > div {
                        display: table-cell;
                        vertical-align: middle;
                        padding-left: 30px;
                        h5 {
                            font-size: 32px;
                            color: #333;
                            font-weight: 400;
                            margin-bottom: 25px;
                            letter-spacing: -1px;
                            strong {
                                font-weight: bolder;
                                span {
                                    @include msr();
                                }
                                i {
                                    font-style: normal;
                                    color: #01adeb;
                                }
                            }
                            small {
                                position: relative;
                                top: 5px;
                                vertical-align: top;
                                display: inline-block;
                                font-size: 14px;
                                letter-spacing: -.5px;
                                color: #fff;
                                line-height: 32px;
                                padding: 0 10px;
                                margin-right: 15px;
                                background-color: #1e447d;
                                &.light {
                                    background-color: #01b0eb;
                                }
                            }
                        }
                        .dashed-list {
                            li {
                                line-height: 23px;
                                & ~ li {
                                    margin-top: 15px;
                                }
                            }
                        }
                        .square-list {
                            margin-top: 10px;
                            margin-left: -15px;
                        }
                    }
                }
            }
        }
        .situation {
            .details {
                display: table;
                width: 100%;
                table-layout: fixed;
                > figure {
                    width: 580px;
                    display: table-cell;
                    vertical-align: middle;
                    img {
                        display: block;
                        margin: 0 auto;
                    }
                }
                > div {
                    padding-left: 55px;
                    display: table-cell;
                    vertical-align: middle;
                    > p {
                        font-size: 17px;
                        line-height: 24px;
                        color: #666;
                        letter-spacing: -.5px;
                        margin-bottom: 25px;
                        span {
                            color: #01adeb;
                        }
                    }
                }
            }
        }
    }
}


.business-icube {
    .article-header {
        .attention {
            font-size: 17px;
            color: #666;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: -.5px;
            padding: 30px;
            background-color: #f2f5f8;
            span {
                color: #01adeb;
            }
        }
    }
    .article-content {
        .block-diagram {
            .details {
                .title {
                    text-align: center;
                    padding: 25px 0;
                    margin-bottom: 10px;
                    border: 2px solid #0089d0;
                    img {
                        display: block;
                        margin: 0 auto;
                    }
                    p {
                        font-size: 17px;
                        color: #666;
                        font-weight: 400;
                        letter-spacing: -.5px;
                        margin-top: 15px;
                        span {
                            color: #0088cf;
                        }
                    }
                }
                .dashed-list {
                    li {
                        line-height: 22px;
                        & ~ li {
                            margin-top: 5px;
                        }
                    }                    
                }
            }
        }
        .solution {
            .details {
                img {
                    display: block;
                    margin: 0 auto;
                }
            }
        }
        .effectual {
            .details {
                .content-header {
                    overflow: hidden;
                    .sub-title {
                        float: left;
                    }
                    > ul {
                        float: right;
                        li {
                            display: inline-block;
                            width: 70px;
                            font-size: 15px;
                            color: #666;
                            font-weight: 400;
                            letter-spacing: -.5px;
                            line-height: 19px;
                            text-align: left;
                            margin-right: 20px;
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                        .square {
                            float: right;
                            width: 19px;
                            height: 19px;
                            display: block;
                            background-color: #03479c;
                            &.gr {
                                background-color: #797e84;
                            }
                        }
                    }
                }
                .box {
                    text-align: center;
                    padding: 10px;
                    padding-bottom: 20px;
                    background-color: #ededed;
                    figure {
                        figcaption {
                            font-size: 17px;
                            color: #666;
                            font-weight: 400;
                            letter-spacing: -.5px;
                            margin-top: 20px;
                            span {
                                color: #0088cf;
                            }
                        }
                    }
                }
            }
        }
        .an-introduction {
            .details {
                padding: 10px;
                background-color: #ededed;
                figure {
                    img {
                        display: block;
                        margin: 0 auto;
                        & ~ img {
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
        .instance {
            .sub-title {
                & ~ .sub-title {
                    margin-top: 35px;
                }
            }
            figure {
                img {
                    display: block;
                    margin: 0 auto;
                }
                figcaption {
                    text-align: center;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 60px;
                    letter-spacing: -.5px;
                    margin-top: 10px;
                    border: 2px solid #0089d0;
                    span {
                        color: #0089d0;
                    }
                }
            }
        }
    }
}

.icube-g20 {
    .article-header {
        .attention {
            font-size: 17px;
            color: #666;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: -.5px;
            padding: 30px;
            background-color: #f2f5f8;
            span {
                color: #01adeb;
            }
        }
    }
    .article-content {
        .block-diagram {
            figure {
                margin: 30px 0;
            }
            dl {
                text-align: center;
                padding: 15px;
                border: 10px solid #ededed;
                dt {
                    font-size: 20px;
                    color: #191d1b;
                    font-weight: 400;
                    margin-bottom: 20px;
                }
                dd {
                    > ul {
                        overflow: hidden;
                        > li {
                            float: left;
                            width: 216px;
                            font-size: 18px;
                            color: #fff;
                            line-height: 20px;
                            letter-spacing: -.5px;
                            font-weight: 400;
                            padding: 20px 0;
                            margin-right: 10px;
                            background-color: #4da7ef;
                            &:last-child {
                                margin-right: 0;
                            }
                            small {
                                display: block;
                                font-size: 14px;
                            }
                            &.space {
                                padding: 10px 0;
                            }
                        }
                    }
                }
                &.service {
                    dd {
                        > ul {
                            > li {
                                width: 272px;
                                background-color: #0070c0;
                                &:nth-of-type(4n) ~ li {
                                    margin-top: 10px;
                                }
                                &:nth-of-type(4n + 1) {
                                    clear: left;
                                }
                                &:nth-of-type(4n + 4) {
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
        .business-flow-diagram {
            .details {
                figure {
                    figcaption {
                        padding: 25px;
                        margin-top: 10px;
                        background-color: #ededed;
                        ul {
                            overflow: hidden;
                            > li {
                                float: left;
                                font-size: 18px;
                                font-weight: 400;
                                letter-spacing: -.5px;
                                text-align: center;
                                width: 216px;
                                line-height: 60px;
                                color: #fff;
                                margin-right: 10px;
                                background-color: #4da7ef;
                                &:nth-of-type(5) ~ li {
                                    margin-top: 10px;
                                }
                                &:nth-of-type(5n + 1) {
                                    clear: both;
                                }
                                &:nth-of-type(5n + 5) {
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
        .administration-flow-diagram {
            .details {
                .sub-title {
                    & ~ .sub-title {
                        margin-top: 50px;
                    }
                }
                figure {
                    padding: 50px 0;
                    border: 1px solid #ddd;
                    img {
                        display: block;
                        margin: 0 auto;
                    }
                }
            }
        }
        .engin {
            .details {
                text-align: center;
                > p {
                    font-size: 18px;
                    color: #666;
                    letter-spacing: -.5px;
                    font-weight: 400;
                    margin-bottom: 30px;
                    span {
                        color: #01adeb;
                    }
                }
                figure {
                    padding: 10px;
                    background-color: #ededed;
                }
            }
        }
    }
}

.build-icube {
    .article-header {
        .page-summary {
            padding-top: 50px;
        }
    }
    .article-content {
        .block-diagram {
            .details {
                overflow: hidden;
                figure {
                    float: left;
                    width: 600px;
                }
                > div {
                    float: left;
                    width: 570px;
                    padding-left: 50px;
                    > p {
                        font-size: 18px;
                        color: #333;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: -.5px;
                        span {
                            color: #01adeb;
                        }
                    }
                    .box {
                        margin-top: 16px;
                        padding: 25px 20px;
                        background-color: #f4f4f4;
                        ul {
                            li {
                                line-height: 22px;
                                & ~ li {
                                    margin-top: 4px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .business-flow-diagram {
            .details {
                text-align: center;
                > p {
                    font-size: 18px;
                    color: #333;
                    letter-spacing: -.5px;
                    font-weight: 400;
                    margin-bottom: 30px;
                    span {
                        color: #01adeb;
                    }
                }
                figure {
                    padding: 50px 0;
                    border: 10px solid #ededed;
                    img {
                        display: block;
                        margin: 0 auto;
                    }
                }
            }
        }
        .introduction-effect {
            .details {
                text-align: center;
                > p {
                    font-size: 18px;
                    color: #333;
                    letter-spacing: -.5px;
                    font-weight: 400;
                    margin-bottom: 30px;
                    span {
                        color: #01adeb;
                    }
                }
                figure {
                    border: 10px solid #ededed;
                    img {
                        display: block;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

.erp-iu {
    .article-header {
        .page-summary {
            padding-top: 50px;
        }
        .share {
            .share-head {
                position: relative;
                text-align: center;
                padding: 50px 0 49px;
                width: 100%;
                background-image: url(/comm/images/product/bg_share_head.jpg);
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: cover;
                h5 {
                    font-size: 45px;
                    color: #fff;
                    font-weight: 400;
                    letter-spacing: -.5px;
                    span {
                        font-size: 68px;
                        font-weight: lighter;
                        strong {
                            font-weight: 700;
                        }
                    }
                }
                p {
                    position: absolute;
                    bottom: 15px;
                    right: 20px;
                    font-size: 14px;
                    color: #fff;
                    font-weight: 400;
                }
            }
            .share-body {
                padding: 15px;
                background-color: #ececec;
                ul {
                    overflow: hidden;
                    li {
                        float: left;
                        width: 270px;
                        height: 240px;
                        color: #fff;
                        padding: 25px 25px 0;
                        margin-right: 20px;
                        background-color: #00aeef;
                        h6 {
                            font-size: 18px;
                            line-height: 21px;
                            font-weight: 300;
                            letter-spacing: -.5px;
                            i {
                                font-size: 18px;
                                font-style: normal;
                                font-weight: lighter;
                                @include msr();
                                display: block;
                                margin-top: 5px;
                            }
                        }
                        p {
                            font-size: 55px;
                            font-weight: 300;
                            margin-top: 20px;
                            @include msr();
                            small {
                                font-size: 16px;
                                font-weight: 400;
                                display: inline-block;
                                @include noto();
                            }
                        }
                        > small {
                            font-size: 16px;
                            font-weight: 400;
                            display: block;
                            letter-spacing: -.5px;
                        }
                        &:nth-of-type(4) ~ li {
                            width: 370px;
                            height: 135px;
                            margin-top: 15px;
                            margin-right: 15px;
                            background-color: #7f98b0;
                            p {
                                font-size: 45px;
                                margin-top: 5px;
                            }
                        }
                        &:nth-of-type(1), &:nth-of-type(2) {
                            background-color: #0054a6;
                        }
                        &:nth-of-type(4) {
                            margin-right: 0;
                        }
                        &:last-child {
                            margin-right: 0 !important;
                        }
                        &.space {
                            p {
                                margin-top: 46px;
                            }
                        }
                    }
                }
            }
        }
    }
    .article-content {
        .block-diagram {
            .sub-title {
                & ~ .sub-title {
                    margin-top: 50px;
                }
            }
            figure {
                padding: 40px 0;
                background-color: #f0f0f0;
                img {
                    display: block;
                    margin: 0 auto;
                }
            }
        }
        .expandability {
            .details {
                text-align: center;
                > p {
                    font-size: 18px;
                    color: #333;
                    letter-spacing: -.5px;
                    font-weight: 400;
                    margin-bottom: 30px;
                    span {
                        color: #01adeb;
                    }
                }
                figure {
                    padding: 40px 0;
                    border: 10px solid #f0f0f0;
                    img {
                        display: block;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}


.mes-pop {
    .article-header {
        .page-summary {
            padding-top: 30px;
        }
    }
    .article-content {
        .overview {
            .details {
                figure {
                    margin-bottom: 30px;
                    padding: 20px 0;
                    border: 10px solid #f0f0f0;
                    img {
                        display: block;
                        margin: 0 auto;
                    }
                }
                > ul {
                    > li {
                        > dl {
                            > dt {
                                font-size: 18px;
                                color: #fff;
                                line-height: 60px;
                                text-align: center;
                                font-weight: 400;
                                background-color: #01b0eb;
                                &.light {
                                    background-color: #4da7ef;
                                }
                                &.deep {
                                    background-color: #0070c0;
                                }
                            }
                            > dd {
                                height: 240px;
                                padding: 20px 15px;
                                background-color: #f4f4f4;
                                > .dashed-list {
                                    > li {
                                        line-height: 28px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .block-diagram {
            .details {
                .sub-title {
                    & ~ .sub-title {
                        margin-top: 40px;
                    }
                }
                .system-area {
                    padding: 40px;
                    padding-bottom: 30px;
                    background-color: #f0f0f0;
                    > ul {
                        overflow: hidden;
                        > li {
                            float: left;
                            width: 250px;
                            margin-right: 30px;
                            &:last-child {
                                margin-right: 0;
                            }
                            dl {
                                & ~ dl {
                                    margin-top: 30px;
                                }
                                dt {
                                    font-size: 18px;
                                    color: #fff;
                                    line-height: 60px;
                                    font-weight: 400;
                                    text-align: center;
                                    letter-spacing: -.5px;
                                    background-color: #4f5963;
                                }
                                dd {
                                    padding: 20px 15px;
                                    background-color: #fff;
                                }
                            }
                        }
                    }
                    .attention {
                        font-size: 15px;
                        color: #0089d0;
                        font-weight: 400;
                        margin-top: 30px;
                        letter-spacing: -.5px;
                        &:before {
                            content: "※ ";
                        }
                    }
                }
                .box {
                    padding: 30px;
                    border: 10px solid #f0f0f0;
                    background-color: #fff;
                    > ul {
                        overflow: hidden;
                        > li {
                            float: left;
                            width: 270px;
                            margin-right: 20px;
                            &:last-child {
                                margin-right: 0;
                            }
                            > dl {
                                > dt {
                                    font-size: 20px;
                                    font-weight: 500;
                                    color: #fff;
                                    padding: 29px 0;
                                    line-height: 22px;
                                    text-align: center;
                                    background-color: #30b5e0;
                                    @include msr();
                                    small {
                                        display: block;
                                        font-size: 16px;
                                    }
                                    &.light {
                                        background-color: #17b0fe;
                                    }
                                    &.deep {
                                        background-color: #0083f9;
                                    }
                                    &.space {
                                        padding: 18px 0;
                                    }
                                }
                                > dd {
                                    height: 617px;
                                    padding: 15px;
                                    background-color: #f0f0f0;
                                    &.fix {
                                        position: relative;
                                        figure {
                                            position: absolute;
                                            top: 50%;
                                            left: 50%;
                                            margin-top: -28px;
                                            margin-left: -105px;
                                            img {
                                                
                                            }
                                        }
                                    }
                                    > ul {
                                        overflow: hidden;
                                        > li {
                                            float: left;
                                            width: 235px;
                                            margin-right: 15px;
                                            &:last-child {
                                                margin-right: 0;
                                            }
                                            dl {
                                                & ~ dl {
                                                    margin-top: 15px;
                                                }
                                                dt {
                                                    font-size: 16px;
                                                    letter-spacing: -.5px;
                                                    line-height: 50px;
                                                    text-align: center;
                                                    color: #fff;
                                                    font-weight: 400;
                                                    background-color: #838a91;
                                                }
                                                dd {
                                                    padding: 20px 15px;
                                                    background-color: #fff;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &.list-1 {
                            > li {
                                &:nth-of-type(2) {
                                    width: 515px;
                                }
                                &:nth-of-type(3) {
                                    width: 264px;
                                }
                            }
                        }
                        &.list-2 {
                            margin-top: 15px;
                            > li {
                                font-size: 20px;
                                color: #fff;
                                letter-spacing: -.5px;
                                font-weight: 400;
                                line-height: 60px;
                                text-align: center;
                                background-color: #4f5963;
                                &:nth-of-type(2) {
                                    width: 800px;
                                    font-weight: 500;
                                    letter-spacing: -1px;
                                    @include msr();
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.scm {
    .article-header {
        .page-summary {
            padding-top: 50px;
            .dashed-list {
                li {
                    line-height: 30px;
                }
            }
        }
        .box {
            margin-top: 60px;
            padding: 10px;
            background-color: #f0f0f0;
            h5 {
                line-height: 60px;
                text-align: center;
                color: #fff;
                font-size: 20px;
                font-weight: 400;
                background-color: #4f5963;
                margin-bottom: 10px;
            }
            .details {
                padding: 40px;
                background-color: #fff;
                i {
                    font-weight: 400;
                    font-style: normal;
                    color: #e2595d;
                    line-height: 24px;
                }
                p {
                    font-size: 15px;
                    color: #666;
                    font-weight: 400;
                    line-height: 24px;
                }
                > ul {
                    overflow: hidden;
                    > li {
                        position: relative;
                        float: left;
                        width: 330px;
                        height: 202px;
                        text-align: center;
                        margin-right: 40px;
                        &:last-child {
                            margin-right: 0;
                        }
                        &:after {
                            position: absolute;
                            top: 50%;
                            right: -36px;
                            margin-top: -14px;
                            display: block;
                            content: url(/comm/images/product/icon_circulation.jpg);
                        }
                        &:nth-of-type(2) {
                            padding: 45px 0;
                            border: 5px solid #03479c;
                            h6 {
                                font-size: 27px;
                                color: #03479c;
                                font-weight: bolder;
                                letter-spacing: -.5px;
                                margin-bottom: 20px;
                                span {
                                    font-size: 29px;
                                    @include msr();
                                }
                            }
                            &:after {
                                right: -41px;
                            }
                        }
                        dl {
                            dt {
                                font-size: 18px;
                                color: #fff;
                                font-weight: 400;
                                line-height: 60px;
                                background-color: #4da7ef;
                                &.deep {
                                    background-color: #0070c0;
                                }
                            }
                            dd {
                                padding: 30px 0;
                                background-color: #f4f4f4;
                                i {
                                    display: block;
                                    margin-top: 10px;
                                }
                            }
                        }
                    }
                }
                .attention {
                    display: block;
                    font-size: 14px;
                    color: #666;
                    font-weight: 400;
                    letter-spacing: -.5px;
                    margin: 20px 0;
                    &:before {
                        content: "※ ";
                    }
                }
                .emphasize {
                    font-size: 18px;
                    line-height: 60px;
                    font-weight: 400;
                    letter-spacing: -.5px;
                    color: #fff;
                    text-align: center;
                    background-color: #03479c;
                }
            }
        }
    }
    .article-content {
        .advantage {
            h5 {
                text-align: center;
                font-size: 18px;
                color: #333;
                font-weight: 400;
                letter-spacing: -.5px;
                margin-bottom: 20px;
                span {
                    color: #01b0eb;
                }
            }
            .details {
                padding: 40px;
                background-color: #f0f0f0;
                > ul {
                    overflow: hidden;
                    > li {
                        float: left;
                        width: 260px;
                        margin-right: 16px;
                        &:last-child {
                            margin-right: 0;
                        }
                        dl {
                            dt {
                                font-size: 18px;
                                letter-spacing: -.5px;
                                font-weight: 400;
                                text-align: center;
                                color: #fff;
                                line-height: 85px;
                            }
                            dd {
                                height: 325px;
                                padding: 0 15px 25px;
                                margin-top: 5px;
                                background-color: #fff;
                                figure {
                                    /*padding: 35px 0;*/
                                    padding-top: 35px;
                                    img {
                                        display: block;
                                        margin: 0 auto;
                                    }
                                    figcaption {
                                        margin-top: 35px;
                                        .dashed-list {
                                            li {
                                                line-height: 28px;
                                                letter-spacing: -1px;
                                                & ~ li {
                                                    margin-top: 25px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &:nth-of-type(1) {
                            dl {
                                dt {
                                    padding: 19px 0 18px;
                                    line-height: 24px;
                                    background-color: #30b5e0;
                                }
                            }
                        }
                        &:nth-of-type(2) {
                            dl {
                                dt {
                                    background-color: #0083f9;
                                }
                            }
                        }
                        &:nth-of-type(3) {
                            dl {
                                dt {
                                    background-color: #0c7ac3;
                                }
                            }
                        }
                        &:nth-of-type(4) {
                            dl {
                                dt {
                                    background-color: #014488;
                                }
                            }
                        }
                    }
                }
            }
        }
        .block-diagram {
            .details {
                figure {
                    padding: 40px 0;
                    background-color: #f0f0f0;
                    img {
                        display: block;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

.barcode {
    .article-header {
        .page-summary {
            padding-top: 50px;
            .dashed-list {
                li {
                    line-height: 30px;
                }
            }
        }
    }
    .article-content {
        .block-diagram {
            figure {
                padding: 40px 0;
                background-color: #f0f0f0;
                img {
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }
}

.sfa {
    .article-header {
        .page-summary {
            padding-top: 50px;
            .dashed-list {
                li {
                    line-height: 30px;
                }
            }
        }
    }
    .article-content {
        .sub-title {
            @include msr();
            & ~ .sub-title {
                margin-top: 50px;
            }
        }
        img {
            display: block;
            margin: 0 auto;
        }
        .block-diagram {
            .details {
                figure {
                    padding: 50px 0;
                    border: 10px solid #f0f0f0;
                }
            }
        }
        .important-screen {
            figure {
                padding: 70px 0 50px;
                background-color: #f0f0f0;
            }
        }
    }
}





































































